<!DOCTYPE HTML>
<html>
	<head>
		<title>404</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="LogInsight,百泉众合,日志管理,智能运维,日志分析平台"/>
		<meta name="description" content="LogInsight（百泉众合）提供SaaS及私有化部署的实时日志分析平台，帮助企业实现机器数据价值的洞察，助力运维，提升运营，实现大数据战略的快速落地。" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
		<meta name="baidu-site-verification" content="fK5zSaJCme" />
		<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />

		<script src="/static/js/jquery.min.js"></script>
		<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
		<link href="/static/css/landing.css" rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="/static/js/index.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71035313-1', 'auto');
  ga('send', 'pageview');

</script>		
	
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?1a2fead704d6f0d4a6e35987b2da75cf";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
	</head>
	<body id="body-bai">

	<div class="container">
		<div class="f404-1">
			<img class="f404-img" src="./static/images/404.png">
		</div>
		<div class="f404-2">
			<p>很抱歉！您访问的页面不存在......</p>
			<a id="a404" href="http://www.loginsight.cn">返回首页</a>
		</div>
	</div>

	</body>
</html>
